<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include menu %>
<h1><%= title %></h1>
<p>New Post</p>
<form action="/post" method="post">
    <p>
        <input type="text" name="entry[title]" placeholder="Title">
    </p>
    <p>
        <textarea name="entry[body]" id="" cols="30" rows="10" placeholder="Body"></textarea>
    </p>
    <p>
        <input type="submit" value="Post">
    </p>
</form>
</body>
</html>